{% extends 'base.html.twig' %}

{% block title %}Mon compte -Lucette est Coquette{% endblock %}

{% block content %}
</h1>...</h1>
<h3>Mon compte</h3>
  Bienvenu {{ dump(app.user) }} dans votre compte!


{% endblock %}
