 {% extends 'base.html.twig' %}
    
    {% block title %}Modifier le Mot de Passe{% endblock %}
    
    {% block body %}
   <br>
<h3>Modifier le mot de passe </h3>
<a href="{{ path('account') }}" class="btn btn-info float-right">Retour</a> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
               
                <form method="post" class="form-signin">
  {{form(form)}}
  </form>
            </div>
                </div>
            </div>
        </div>
   
    {% endblock %}